Langchain/.env
Langchain/1-DataIgnestion/HKurs.txt
Langchain/1-DataIgnestion/Tempel.pdf
Langchain/5-OpenAI/chroma_db/*
Langchain/6-Ollama_GenIA/__pycache__/*
Langchain/6-Ollama_GenIA/diagnostic/__pycache__/*
Langchain/6-Ollama_GenIA/loaders/__pycache__/*
Langchain/6-Ollama_GenIA/view/__pycache__/*
