Langchain/.env
Langchain/1-DataIgnestion/HKurs.txt
Langchain/1-DataIgnestion/Tempel.pdf
Langchain/5-OpenAI/**/*
Langchain/4-Ollama_Embeddings/**/*
Langchain/3-Embeddings/**/*
Langchain/6-Ollama_GenIA/**/__pycache__/*
